*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./img/blur.jpg");
    
    
}

.container{
   
    display: flex;
    flex-direction: row;
}

.gambar{
   position: relative;
   padding-left: 50px;
   padding-top: 50px;
   
}

.container1{
    display: flex;
    border: 1px solid black;
    border-radius: 18px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 10%;
    margin-top: 10%;
   margin-left: 15%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-bottom: 15px;
    color: rgb(247, 154, 14);
}

.text1{
    display: flex;
    flex-direction: column;
    gap: 5px;
} 

.button{
   display: flex; 
   flex-direction: column;
    margin-top: 15px; 
    gap: 15px;
}

.kotak{
    border: none;
    border-radius: 18px;
    height: 28px;
    background-color: rgb(245, 156, 22);
    
}



.button a{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


